body {
    background-color: rgb(223, 221, 221);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-top{ 
    
    height:10vh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
}
.icon-container {
    margin-right: 10px; /* Add suitable margin from the left for the icon */
    margin-left: 20px;
}

.text-container {
    margin-right: 20px; /* Add suitable margin from the left for the text */
}


.progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background-color: #f3f3f3;
    
    /* Add other styles for your progress-container div if needed */
}

.progress-bar {
    width: 0;
    height: 10px;
    background-color: #f0760b;
    text-align: center;
    line-height: 10px;
    color: white;

}


button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0074d9;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container {
    background-color: white;
    width: 70vw;
    height: 100vh;
}

.page {
    display: none;
}

.page.active {
    display: block;
}
